{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th>
        <th>User</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Actions</th>
        {% for todo in todos %}
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>
                <a href="{{ url_for('todo', id=todo.id) }}">
                    {{ todo.description }}
                </a>
            </td>
            <td>
                {% if 1 == todo.completed %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <form class="actions-form" method="post" action="{{ url_for('todo_DELETE', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span
                            class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
                <form class="actions-form" method="post" action="{{ url_for('todo_POST', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-success"><span
                            class="glyphicon glyphicon-ok glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..."
                        required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    <div class="btn-group" role="group" aria-label="Pagination buttons">
        {% if prev_url %}
        <a type="button" href="{{ prev_url }}" class="btn btn-primary">Previous</a>
        {% endif %}
        {% if next_url %}
        <a type="button" href="{{ next_url }}" class="btn btn-primary">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}